#nav {
    text-align: center;
    font-language-override: normal;
    padding: 15px;
    margin-left: 10px;
    margin-right: 10px;
}

#h1body {
        text-align: center;
}

/* #h6 {
    text-align: center;
} */

#footer {
    text-align: center;
    
}
#colum1 {
    border-collapse: separate;
    border-spacing: 10px 5px;
}

#colum2 {
    
    border-collapse: separate;
    border-spacing: 10px 5px;
}
.img1 {
    border: deepskyblue;
}


.center img{
    width: 60vw;
    height: 100vh;
}

#img-center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 500;
    height: 500px;
}