#nav {
    text-align: center;
    font-language-override: normal;
    padding: 15px;
    margin-left: 10px;
    margin-right: 10px;
}


#footer {
    text-align: center;
    
}
#colum1 {
    border-collapse: separate;
    border-spacing: 10px 5px;
}

#colum2 {
    
    border-collapse: separate;
    border-spacing: 10px 5px;
}
