#nav {
    text-align: center;
    font-language-override: normal;
    padding: 15px;
    margin-left: 10px;
    margin-right: 10px;
}

#h1body {
        text-align: center;
}


 div#contenedor {
    width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  overflow: hidden;
}
div#contenedor section {
    float: left;
    width: 70%;
  }

  div#contenedor aside {
    float: left;
    width: 25%;
    margin-left: 5%;
  }

  #img-center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 500;
    height: 500px;
    
}