#nav {
    text-align: center;
    font-language-override: normal;
    padding: 15px;
    margin-left: 10px;
    margin-right: 10px;
}

#h1body {
        text-align: center;
        align-content: center;
}


 div#contenedor {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  overflow: hidden;
}
div#contenedor section {
    float: left;
    width: 70%;
    margin: auto;
  }

  div#contenedor aside {
    float: left;
    width: 25%;
    margin-left: 5%;
  }

  .ownImg {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 500;
    height: 500px;
    float: right;
}

#img1 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 400;
    height: 350;
}
.container {
    text-align: center;
}

#h2meme{
    text-align: center;
}

table,th,td {
    border: 1px solid ;
    /* width: 100%;
    height:  70px; */
    color: white;
}

table {
    border-collapse: collapse;
}

#timoteo{
    max-width: 100%;
    height: auto;
}

#bulin {
      max-width: 100%;
      height: auto;
}

#netflix{
    max-width: 100%;
    height: auto;
}

#dj {
    max-width: 100%;
    height: auto;
}

#negro {
    height: auto;
    max-width: 100%;
}
  
#pocamadre {
  height: auto;
    max-width: 100%;
  }

#pcr {
    height: auto;
    max-width: 100%;
}

#thor {
    height: auto;
    max-width: 100%;
}

#meme {
    height: auto;
    max-width: 100%;
}

#experta {
    height: auto;
    max-width: 100%;
}

#bola {
    height: auto;
    max-width: 100%;
}

#muerto {
    height: auto;
    max-width: 100%;
}

#chicle {
    height: auto;
    max-width: 100%;
  }
  #sad{
    height: auto;
    max-width: 100%;
  }
  #karma {
    height: auto;
    max-width: 100%;
  }
  #ultimo {
    height: auto;
    max-width: 100%;
  }

  